.about {
  background: $background;
  color: $text;
  border-radius: $rounded-large;
  border: 1px solid $subtext0;

  .top {
    padding: 1em;

    label {
      margin-left: 2em;
    }
  }

  .info {
    border-radius: $rounded-large;
    margin: 1em;
    padding: 1em;
    background: $background-alt;

    box {
      .s {
        padding: 0.5em;
      }
    }
  }
}

.os-logo {
  padding: 5em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
