$black: #000;
$white: #fff;

$rosewater: #ffab91;
$flamingo: #ffab91;
$pink: #ee5396;
$mauve: #be95ff;
$red: #ee5396;
$maroon: #ff7eb6;
$peach: #ffab91;
$yellow: #ffe97b;
$green: #42be65;
$teal: #3ddbd9;
$sky: #08bdba;
$sapphire: #82cfff;
$blue: #33b1ff;
$lavender: #ffab91;

$text: #dde1e6;
$subtext1: #f2f4f8;
$subtext0: #ffffff;
$overlay2: #525252;
$overlay1: #393939;
$overlay0: #393939;
$surface2: #262626;
$surface1: #262626;
$surface0: #161616;
$base: #161616;
$mantle: #262626;
$crust: #393939;

$background-alt: $crust;
$background: $base;
$foreground: $text;

$warning: $yellow;
$error: $red;
$urgent: $red;
