.content {
  background: $background;
  padding: 1em 0;
  border-radius: $rounded-large;
  min-width: 33em;

  .title {
    padding-left: 1em;
    font-size: 2em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 5em center;
  }

  .screenshotmenu {
    padding: 0.5em 6em;

    .button {
      border-radius: $rounded-large;
      background: $background;
      margin: 1em;
      padding: 0 1em;

      &:hover {
        background: $teal;
        color: $background;
      }

      box {
        background-repeat: no-repeat;
        background-position: left center;
        padding: 1em 2em;
      }
    }
  }

  .label {
    font-size: 1.8em;
  }
}
